<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart-To-Do-List</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/side_bar.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/new_task_dropdown.css" />
  <link rel="stylesheet" href="/styles/tasks_contianer.css" />
  <link rel="stylesheet" href="/styles/edit_task_form.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">

  <!-- Font Awesome Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- bulma stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- moment -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/tasks.js"></script>
  <script src="/scripts/dropdown.js"></script>
</head>

<body>
  <!-------------- Nav Bar ---------------->
  <nav class="nav_bar">
    <a href="#" class="logout"><i class="fa-solid fa-user"></i>Logout</a>
    <a href="/" class="current_page">Smart To-Do List</a>
    <div class="new-task-btn">
      <button id="new-task">New Task!</button>
      <i class="fa-solid fa-caret-down"></i>
    </div>

  </nav>

  <section id="main_content">
    <!-------------- Side Bar ---------------->
    <nav class="side_nav">
      <button class="button is-link is-inverted" id="category-all"><i class="fa-solid fa-house"></i></button>
      <button class="button is-link is-inverted" id="category-Restaurants"><i class="fa-solid fa-utensils"></i></button>
      <button class="button is-link is-inverted" id="category-Shopping"><i class="fa-solid fa-cart-shopping"></i></button>
      <button class="button is-link is-inverted" id="category-Movies-TV"><i class="fa-solid fa-film"></i></button>
      <button class="button is-link is-inverted" id="category-Books"><i class="fa-solid fa-book"></i></button>
      <button class="button is-link is-inverted" id="category-completed"><i class="fa-solid fa-list-check"></i></button>
    </nav>

    <div id="task_content">
      <!-------------- New Task ---------------->
      <div class="new_task_dropdown">
        <form action="/tasks" method="POST" id="new_task_form">
          <div class="inputs">
            <div class="input_item">
              <label for="task_name">Task Name:</label>
              <input type="text" name="task_name">
            </div>
            <div class="input_item">
              <label for="task_category">Task Category:</label>
              <select name="task_category" id="task_category">
                <option value="Uncategorized">Uncategorized</option>
                <option value="Restaurants">Restaurants</option>
                <option value="Shopping">Shopping</option>
                <option value="Movies/TV">Movies/TV</option>
                <option value="Books">Books</option>
              </select>
            </div>
            <div class="input_item">
              <label for="task_priority">Priority:</label>
                <label class="container">High
                  <input type="radio" name="task_priority" value="true">
                  <span class="checkmark"></span>
                </label>
                <label class="container radio-no">None
                  <input type="radio" checked="checked" name="task_priority" value="false">
                  <span class="checkmark"></span>
                </label>
            </div>
          </div>
          <input type="submit">
        </form>
      </div>

      <!-------------- Exsisting Tasks ---------------->
      <section class="tasks_contianer">
        <div id="tasks"></div>
      </section>

    </div>
  </section>

  <footer class="navbar_footer">
    <div>© Rowan Mackenzie / Sooyeon Cheon </div>
  </footer>

</body>
</html>
