<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/tasks.js"></script>
  <style>
    table, tr, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <button id="category-products">Products</button>
  <button id="category-food">Food</button>
  <button id="category-movies-tv">Movies/TV</button>
  <button id="category-books">Books</button>
  <button id="category-all">All</button>
  <div>TASKS</div>
  <table id="tasks">

  </table>
</body>

</html>
