<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/tasks.js"></script>
  <style>
    table, tr, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <form method="POST" action="/api/tasks">
    <input name="title" placeholder="title">
    <input name="category" placeholder="category">
    <input name="priority" placeholder="priority">
    <input name="is_completed" placeholder="is_completed">
    <input name="is_deleted" placeholder="is_deleted">
    <input type="submit" id="submit">
  </form>
  <div>TASKS</div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Completed</th>
        <th>Priority</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="task-body">

    </tbody>
  </table>


</body>

</html>
