<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/side_bar.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/new_task_dropdown.css" />
  <link rel="stylesheet" href="/styles/tasks_contianer.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/tasks.js"></script>
  <script defer src="/scripts/dropdown.js"></script>
  <style>
    table,
    tr,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

</head>

<body>
  <nav class="nav_bar">
    <button>Logout</button>
    <h2>Smart-To-Do-List</h2>
    <button id="new-task">New Task!</button>
  </nav>

  <section id="side_layout">
    <nav class="side_nav">
      <ul class="list">
        <li><button id="category-all">Home</button></li>
        <li><button id="category-food">Food</button></li>
        <li><button id="category-products">Products</button></li>
        <li><button id="category-movies-tv">Movies&TV</button></li>
        <li><button id="category-books">Books</button></li>
      </ul>
    </nav>

    <div id="main_content">
      <div class="new_task_dropdown">
        <form>
          <label for="task_name">Task Name:</label>
          <input type="text" name="task_name" />
        </form>
        <br />

        <div class="task_drop_downs">
          <button>Category Drop-Down</button>
          <button>Priority Drop-Down</button>
        </div>
      </div>

      <section class="tasks_contianer">
        <div id="tasks">

        </div>
      </section>

    </div>
  </section>
  <footer class="navbar_footer">
    <p>FOOTER</p>
  </footer>
</body>






</html>
