// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

#main_content {
  display: flex;
  padding-top: 3rem;
  width: 100%;
}

#task_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

