body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;


  background: rgb(250, 255, 227);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}
header {
  background-color: aqua;
  text-align: center;
  height: 100px;
}
main {
  height: 80vh;
}
footer {
  background-color: lightgray;
  text-align: center;
  height: 100px;
}
