.side_nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 2em;
  padding-top: 1em;
  button {
    margin-bottom: 2em;
    i {
      font-size: 36px;
      width: 2rem;
      color: #845EC2;

    }
  }
}
