.tasks_contianer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  font-family: 'Montserrat', sans-serif;

  .task-chkbox {
    display: flex;
    justify-content: space-between;
  }
  .tasks-list {
    border: 3px solid gray;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    padding: 3em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    width: 90%;

    &:hover{
      box-shadow: 2px 2px darkgray;
    }

    .task-title {
      font-size: 28px;
      font-weight: 600;
      width: 35%;
    }
    .task-edit {
      padding: 0.5em 1em ;
      border-radius: 10px;
      background-color: white;
      transition: 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: beige;
      }
    }
  }

  #check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    input[type=checkbox] {
      transform: scale(3);
      margin-right: 1rem;
      }
  }

}



