.tasks_contianer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  font-family: 'Montserrat', sans-serif;


  .tasks-list {
    border: 3px solid #B39CD0;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    font-size: 0.95em;
    transition: 0.3s ease-in-out;
    &:hover{
      background-color: #FBEAFF;
    }

    .task-title {
      font-size: 22px;
      font-weight: 600;
      width: 35%;
    }

    .task-category {
      font-weight: bold;
    }

    .task-category, .task-date {
      width: 18%;
      text-align: center;
    }
    .task-priority{
      width: 5%;
      color: #eeb5a0;
    }
    .task-edit {
      padding: 0.3em 0.8em ;
      border: 1.5px solid #B39CD0;
      border-radius: 10px;
      background-color: transparent;
      transition: 0.3s ease-in-out;
      &:hover:enabled {
        cursor: pointer;
        background-color: #503975;
        color: #FCF7FF;
      }
    }
  }

  .my-checkbox {
    background-color: transparent;
    padding-left: 10px;
    border: none;
    font-size: 1.5em;
    transition: 0.3s ease-in-out;
    color: #B39CD0;

    &:hover{
      cursor: pointer;
      color: #503975;
      text-shadow: 1px 1px 2px #B39CD0;
    }
  }

}

.task-uncomplete {
  display: none;
}


